@model IEnumerable<WebApp.Models.Table>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-databaseName="@ViewData["databaseName"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("View", "ViewTable", new { databaseName=@ViewData["databaseName"], item.Id }) |
                @Html.ActionLink("Remove Duplicate Rows", "RemoveDuplicateRows", new { databaseName=@ViewData["databaseName"], item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { databaseName=@ViewData["databaseName"], item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
